{% extends "base.html" %}
{% block title %} About page {% endblock %}
{% block main %}
    <h1>{{data.site_name}}</h1>
    <h2>phone: {{data.phone}}</h2>
    <p>page from about template</p>
{% endblock %}
