<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <p>menu example for all pages</p>
    {% block main %}
    {% endblock %}
{% include 'footer.html' %}
</body>
</html>