{% extends base.html %}
{% block title %} Contacts {% endblock %}
{% block main %}
    <h1>Contacts</h1>
    <form name="data" method="post" action="feedback_form">
        <p><b>Тема:</b><br>
           <input type="text" name="subject" size="40">
        </p>
        <p><b>Текст:</b><br>
           <textarea name="body" cols="40" rows="3"></textarea></p>
        </p>
        <p><b>email:</b><br>
           <input type="text" name="email" size="40">
        </p>
        <p><input type="submit" value="Отправить"></p>
     </form>
    <p>page from contacts template</p>
{% endblock %}