{% extends "base.html" %}
{% block title %} Courses {% endblock %}
{% block main %}
    <h1>Courses</h1>
        <p><b>Название курса:</b><br>
            {% for course in data.courses %}
                <p>{{ course.info }} <a href="edit_course?course_id={{ course.id }}" class="button">Edit</a> </p>
            {% endfor %}

    <p>page from Courses template</p>
{% endblock %}