{% extends "base.html" %}
{% block title %} Create Course {% endblock %}
{% block main %}
    <h1>Create student</h1>
    <form name="data" method="post" action="create_student">
        <p><b>Имя:</b><br>
           <input type="text" name="firstname" size="40">
        </p>
        <p><b>Фамилия:</b><br>
           <input type="text" name="lastname" size="40">
        </p>
        <p><b>Phone:</b><br>
           <input type="text" name="phone" size="40">
        </p>
        <p><b>Email:</b><br>
           <input type="text" name="email" size="40">
        </p>
        <p><b>Курсы:</b><br>
            {% for course in data.courses %}
                <input type="radio" name="course" value="{{ course.id }}"> {{ course.name }}<Br>
            {% endfor %}
        </p>
        <p><input type="submit" value="Отправить"></p>
     </form>
    <p>page from Create Course template</p>
{% endblock %}
