{% extends "base.html" %}
{% block title %} Create Category {% endblock %}
{% block main %}
    <h1>Create Category</h1>
    <form name="data" method="post" action="create_category">
        <p><b>Родительская категория:</b><br>
            <input type="radio" name="parent_id" value="None" checked> Корневая категория<Br>
            {% for category in data.category %}
                <input type="radio" name="parent_id" value="{{ category[0].id }}"> {{ category[0].name_tree }}, курсов: {{ category[1] }}<Br>
            {% endfor %}
        <p><b>Название категории:</b><br>
           <input type="text" name="name" size="40">
        </p>
        <p><input type="submit" value="Отправить"></p>
     </form>
    <p>page from Create Category template</p>
{% endblock %}
