{% extends "base.html" %}
{% block title %} Create Course {% endblock %}
{% block main %}
    <h1>Create or edit Course</h1>
    <form name="data" method="post" action="edit_course">
        <p><b>Название курса:</b><br>
           <input type="text" name="name" value="{{ data.name }}" size="40">
            <input type="hidden" name="course_id" value="{{ data.course_id }}" size="40">
        </p>
        <p><b>Категория:</b><br>
            {% for category in data.category %}
                <input type="radio" name="category" value="{{ category[0].id }}"> {{ category[0].name_tree }}<Br>
            {% endfor %}
        <p><b>Тип:</b><br>
            {% for type in data.types %}
                <input type="radio" name="type" value="{{ type }}"> {{ type }}<Br>
            {% endfor %}
        <p><b>Место проведения:</b><br>
           <input type="text" name="additional_data" value="{{ data.place }}" size="40">
        </p>
        </p>
        <p><input type="submit" value="Отправить"></p>
     </form>
    <p>page from Create Course template</p>
{% endblock %}
