{% extends "base.html" %}
{% block title %} Welcome page {% endblock %}
{% block main %}
    <h1>{{data.welcome_text}}</h1>
    <h2>{{data.name}}</h2>
    <p>page from index template</p>
{% endblock %}