<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
    <h1>{{data.msg}}</h1>
    <h2>{{data.detail}}</h2>
    <p>page from error template</p>
</body>
</html>